<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openNotifications()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card *ngFor="let agenda of agendas" (click)="goToLesson(agenda)">
    <ion-item [ngClass]="'line-' + agenda.getStatusColor()">
      <h1 ion-text [color]="agenda.getStatusColor()">{{ agenda.name }}</h1>
      <h2>{{ agenda.startDate.format('lll') }} - {{ agenda.endDate.format('LT') }}</h2>
      <ion-icon name="checkmark-circle" item-end [color]="agenda.getStatusColor()"></ion-icon>
    </ion-item>
    <ion-card-content>
      <p class="text-muted">{{ agenda.location }}</p>
      <p class="text-muted">{{ agenda.room }}</p>
    </ion-card-content>
  </ion-card>
  <loader *ngIf="loading"></loader>

</ion-content>
