<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{ 'SUBJECTS' | translate }}</ion-title>
    <ion-buttons *ngIf="canAddSubject" end>
      <button ion-button icon-only (click)="openActions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let subject of subjects" (click)="goToDetail(subject)">
    <ion-item [ngClass]="'line-' + subject.getStatusColor()">
      <h1 ion-text [color]="subject.getStatusColor()">{{ subject.name }}</h1>
      <h2>{{ subject?.teacher?.firstname }} {{ subject?.teacher?.lastname }}</h2>
      <ion-icon name="checkmark-circle" item-end [color]="subject.getStatusColor()"></ion-icon>
    </ion-item>
  </ion-card>
  <loader *ngIf="loading"></loader>

  <div *ngIf="!loading">
    <br>
    <br>
    <h2 padding-left translate="ARCHIVED"></h2>
    <hr margin-left>
    <ion-card *ngFor="let subject of archivedSubjects" (click)="goToDetail(subject)">
      <ion-item [ngClass]="'line-' + subject.getStatusColor()">
        <h1 ion-text [color]="subject.getStatusColor()">{{ subject.name }}</h1>
        <h2>{{ subject?.teacher?.firstname }} {{ subject?.teacher?.lastname }}</h2>
        <ion-icon name="checkmark-circle" item-end [color]="subject.getStatusColor()"></ion-icon>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
