<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>New chat</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()" [disabled]="!subjectForm.valid">
          <ion-icon name="checkmark"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="subjectForm">

    <ion-item>
      <ion-label floating>Receiver</ion-label>
      <ion-select [(ngModel)]="receiver" formControlName="receiver">
        <ion-option *ngFor="let user of users" [value]="user.id">{{ user?.firstname }} {{ user?.lastname }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!subjectForm.controls.receiver.valid  && subjectForm.controls.receiver.touched" no-lines>
      <p ion-text color="danger">Please select select one person</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Message</ion-label>
      <ion-textarea autoresize type="text" formControlName="message"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!subjectForm.controls.message.valid  && subjectForm.controls.message.touched" no-lines>
      <p ion-text color="danger">Please enter a message.</p>
    </ion-item>

  </form>

</ion-content>
